
body {
  font-family: Raleway, sans-serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 0% 0;
    background: no-repeat center center 0px fixed;
  padding-bottom: 60px;
      
}
   
        html { 
  background: url(images/homebackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
        
.header {
  margin-left: 0px;
  margin-right: 0px;
  top: 0%;
  left: 0%;
  bottom: 0%;
  padding: 03em 1em 2em 2em;
  background-position: center top;
  background-size: cover;
  background-image: url(images/homebackground.jpg);
            background-size: cover;
            background-attachment: fixed;
  margin: 0px
  }
        
h1 {
    font-size: 02em;
  font: Raleway, sans-serif ;
  color: white;
  background-color: dimgrey;
  background-size: ;
  padding: 01em 01em 01em 01em;
  
        }
a {
    text-decoration: none; }
    a:link {  color: black; } 
    a:visited {  color: black; }
    a:hover { color: hotpink; }
    a:active { color: hotpink; }
        
ul {
    display: inline;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    margin: 0;
    float: left;
    padding: 0px;
    letter-spacing: 1px;
    background-color: white;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    text-align: center;
    color: black;
}
li {
    display: inline;
}
img {
    padding: 10px;
    align-content: center;
        }
img.resize {
        max-height: 90%;
        max-width: 90%;
}
li {
    text-align: center; 
}
footer {
    display: inline;
    height: 60px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: blanchedalmond;
    width: 100%;
    text-align: center;
    
            
        }